#navbarSupportedContent{
  float: right;
}

#navbarSupportedContent form input {
  height: 3rem;
}

#navbarSupportedContent form button {
  border-color: rgb(0, 255, 234);
  color: rgb(0, 255, 234);
}

#navbarSupportedContent form button:hover {
  background-color: #00998c;
  border-color: white;
  color: white;
}


/*caja login*/
.caja-login{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}


.login-reg-panel{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
text-align:center;
  width:70%;
right:0;left:0;
  margin:auto;
  height:400px;
  background-color:rosybrown;
}
.white-panel{
  background-color: rgba(255,255, 255, 1);
  height:500px;
  position:absolute;
  top:-50px;
  width:50%;
  right:calc(50% - 50px);
  transition:.3s ease-in-out;
  z-index:0;
  box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
  position:relative;
  display:none;
}
.login-reg-panel{
  color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
  border:1px solid #9E9E9E;
  padding:5px 5px;
  width:150px;
  display:block;
  text-align:center;
  border-radius:10px;
  cursor:pointer;
  font-weight: 600;
  font-size: 18px;
}
.login-info-box{
  width:30%;
  padding:0 50px;
  top:20%;
  left:0;
  position:absolute;
  text-align:left;
}
.register-info-box{
  width:30%;
  padding:0 50px;
  top:20%;
  right:0;
  position:absolute;
  text-align:left;
  
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
  z-index: 1;
  display:none;
  opacity:0;
  transition:0.3s ease-in-out;
  color:#242424;
  text-align:left;
  padding:50px;
}
.show-log-panel{
  display:block;
  opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
  width: 100%;
  display: block;
  margin:20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}
.login-show input[type="button"] {
  max-width: 150px;
  width: 100%;
  background: #444444;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float:right;
  cursor:pointer;
}
.login-show a{
  display:inline-block;
  padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
  width: 100%;
  display: block;
  margin:20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}
.register-show input[type="button"] {
  max-width: 150px;
  width: 100%;
  background: #444444;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float:right;
  cursor:pointer;
}
.credit {
  position:absolute;
  bottom:10px;
  left:10px;
  color: #3B3B25;
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 99;
}
a{
text-decoration:none;
color:#2c7715;
}
/*
-------------- Basic Reset Css ----------
 */

.cont_central {  
position: relative;
width: 100%;
top: 50%;
}

.cont_modal {
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
transition-delay: 0.7s;
-webkit-transition-delay: 0.7s;
-o-transition-delay: 0.7s;
transition-delay: 0.7s;
}

.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius:5px;
top: -20px;
float: left;
z-index: 2;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
transition: all 0.5s; 
box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
}

.cont_img_back {
  position: absolute;
width: 100%;
height: 150%;
overflow: hidden;
border-radius:5px ;
}
.cont_img_back > img {
  width: 100%;
  height: 68%;
opacity: 0.7;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
transition: all 1s;
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_text_ingredients {
position: absolute;
  width: 0px;
top: 0px;
left: 290px;
  margin-left: 10px;
  height: 400px;
  float: left; 
  border-radius:5px ;
z-index: 3;
box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
background: rgb(251,249,249); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(251,249,249,1) 28%, rgba(232,234,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
transition-delay: 0.7s;
-webkit-transition-delay: 0.7s;
-o-transition-delay: 0.7s;
transition-delay: 0.7s;
}

.cont_mins{
position: relative;
float: left;
  width: 100%;
}

.sub_mins {
  text-align: center; 
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255,253,112,0.8);
border-radius:50% ;
margin: 16px;
margin-bottom: 0px;
opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
transition-delay: 1s;
-webkit-transition-delay: 1s;
-o-transition-delay: 1s;
transition-delay: 1s;

}

.sub_mins > h3 {
  font-size: 24px;
  margin-bottom: -12px;
  margin-block-start: 16px;
}

.sub_mins > span {
  font-size: 9px; 
  font-weight: 700;
}

.cont_servings {
  text-align: center; 
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255,253,112,0.8);
border-radius:50% ;
margin: 16px;
opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
transition-delay: 0.7s;
-webkit-transition-delay: 0.7s;
-o-transition-delay: 0.7s;
transition-delay: 0.7s;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 13px;
  margin-bottom: -10px;
}

.cont_servings > span {
  font-size: 9px;
  font-weight: 700;
}


.cont_detalles {
  text-align: center;
  position: absolute;
bottom:-185px;
  height: 200px;
  border-radius:5px ;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 

width: 100%;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s; 
transition: all 0.5s;
  transition-delay: 1.2s;
-webkit-transition-delay: 0.7s;
-o-transition-delay: 0.7s;
transition-delay: 0.7s;}


.cont_detalles > h3 {
  margin-top: 50px;
 color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  color: #fff;
  text-align:center;
  font-size: 14px;
}

/* ---------------- Css Tabs -------- */

.cont_tabs {
  position: relative;
  float: left;
  width: 410px;
  height: 60px;
border-bottom: 3px solid #EDEDEC;
}

.cont_tabs > ul {
  width: 300px;
  background-color: #eee;
}

.cont_tabs > ul > li {
  position: relative;
  float: left;
  width: 50%;
list-style: none;
}

.cont_tabs > ul > li > a {
border-top: 7px solid #ED346C;
  position: relative;
  display: block;
  float: left;
padding-top: 15px;
  color: #241C3E;
  text-decoration: none;
  margin-left: 15px;
font-size: 14px;
}

.cont_tabs > ul > li:first-child > a
{
  border-top: 7px solid rgba(237, 52, 108, 0);
  margin-top: 0px;
  color: #9A96A4;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
transition: all 0.2s;
}

.cont_tabs > ul > li:first-child > a:hover {
  border-top: 7px solid #ED346C;
padding-top: 15px;
  color: #241C3E;
 margin-top: 0px;
}

.cont_btn_open_dets {
  position: absolute;
  right: -15px;
  top:50%;
}
.cont_btn_open_dets  > a {
display: block;
  padding-top: -5px;
width: 30px;
  height: 30px;
  background-color: #ED2460;
border-radius:50% ;
color: #fff;
box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
transition: all 0.5s;
transform: rotate(180deg);

}


.cont_btn_open_dets  > a > i {
  margin-top: 4px;
}

.cont_title_preparation {
   position: relative;
  float: left;
margin:10px 0px ;
width: 410px;
}
.cont_title_preparation > p {
  font-weight: 700;
font-size: 14px;
  margin-left: 40px;
text-align: left;
color: #36354E;
}

.cont_info_preparation {
  position: relative;
  float: left;
}
.cont_info_preparation > p {
  margin: 5px 0px;
  margin-left: 50px;
border-left: 2px solid #E3E3E3; 
font-size: 12px;
  padding: 20px 0px;
padding-left: 20px;
text-align: left;
padding-right: 15px;
color: #565656;
}

.cont_btn_mas_dets {
  position: absolute;
  bottom:0px;
  left: 50%;
}
.cont_btn_mas_dets > a {
  color: #36354E;
}

.cont_over_hidden {
  position: relative;
  float: left;
  width: max-content;
height: 400px;
  overflow: scroll;
}

.cont_text_det_preparation {
  position: relative;
  width: 410px;
}

.cont_modal_active > .cont_text_ingredients  > .cont_btn_open_dets > a {
  transform: rotate(0deg);
}
.cont_modal_active > .cont_text_ingredients{
  width: 410px;
left: 285px;
z-index: 1;
box-shadow: 15px 20px  70px  -5px  rgba(0,0,0,0.2);
}
.cont_modal_active {
width: 700px;  
}

.cont_modal_active > .cont_photo {
box-shadow: 25px 10px 70px -5px rgba(0,0,0,0.3);  
}

.cont_modal_active > .cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}

.cont_modal_active  > .cont_photo > .cont_servings {
  opacity: 1;
}

.cont_modal_active > .cont_photo  > .cont_detalles{
  bottom: 0px;
}




body {
  background: url(https://images.unsplash.com/photo-1621193677201-096db5e45734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80); 
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: max-content;
}

/*navbar*/
.custom-toggler.navbar-toggler {
  border-color: black;
}

a{ 
  color: black !important;
}

.nav-item {
  padding: 3em;
}

.collapse {
  display: inline-block;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  position: relative;
  z-index: 0;
}

button.navbar-toggler{

  color: black; 
  border-bottom: black;
}


/* Top & Bottom Borders Out */
.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: black;
  content:"";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}
.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}



/*Escritura maquina*/
.typing-demo {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}

.typing-demo {
  width: 5ch;
  animation: typing 2s steps(50), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5rem;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/*Menú*/
.g-price {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.g-price {
  margin: 8px 0;
}

.screen-togo, .screen-cart {
  max-height: 500px;
  overflow: scroll;
  border-radius: 25px;
}

ul {
  padding: 0;
  list-style: none;
}

.menu-item {
  background: #E4F0FD;
  border-radius: 20px 0 0 20px;
  margin: 30px 0;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
}

.menu-image{
    width: 150px;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  
.cart-items img{
    width: 150px;
    position: absolute;
  }

.add-button {
    position: absolute;
    border: none;
    background: #6B00F5;
    padding: 6px 20px 4px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    bottom: -10px;
    left: 150px;
    transition: all .3s;
    
}
.add-button:hover {
      background: #c71010;
    }

.menu-item-dets {
  margin-left: 150px;
  padding-bottom: 15px;
}

.menu-item-heading {
  font-size: 18px;
  margin: 10px 0 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(10px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.cart-item {
  align-items: flex-start;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #D7D7F9;
  animation: fadeIn .3s;
  position: relative;
}
  
  .cart-item img {
    width: 100px;
  }
  
  .cart-item .g-price {
    font-size: 24px;
  }


.cart-item-dets {
  margin-left: 150px;
  width: 100%;
}

.cart-item-heading {
  margin: 10px 0;
}

.cart-math-item {
  margin: 5px 0;
  font-weight: 700;
}
.cart-math-item span {
    display: inline-block;
    text-align: right;
  }
  .cart-math-item .cart-math-header {
    width: 50%;
  }
  .cart-math-item .g-price {
    width: 40%;
  } 



  /* Footer */
  .footer-bs {
  background-color: #f2d8d8;
	padding: 40px 10px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer2 {
  background-color: #f2d8d8;
  text-align: center;
  font-size: 15px;
  color:rgba(255,255,255,0.70);
}

.footer-nav {
  font-family: 'Pacifico', cursive;
  text-align: center;
  border-left: solid #333333;
  border-right: solid #333333;
}


/* Redes sociales */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{

  align-items: center;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 8px;
  width: 5rem;
  height: 5rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon .fab{
  font-size: 20px;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}


/*button*/
.wrap .button {
  min-width: 80px;
  min-height: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.wrap button::before {
content: '';
  border-radius: 100px;
  min-width: calc(110px + 12px);
  min-height: calc(50px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.wrap .button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.wrap button:hover::before, button:focus::before {
  opacity: 1;
}

.wrap button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.wrap button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}


/*card*/
.section_our_solution .row {
  align-items: center;
}

#flan-uno, #flan-tres, #flan-cinco, #flan-siete{
  align-self: flex-start !important;
}


#flan-dos, #flan-cuatro, #flan-seis, #flan-ocho {
  align-self: flex-end !important;
}


.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #f2d8d8;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {

  color: black;
}



.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 25px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: flex-end;

}

.solution_cards_box .solution_card .so_top_icon img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
    align-self: center;
  }
  
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}



/*contact form*/
  .contact {
    align-self: center;
  }
    .contact i {
      padding: 0 20px;
      font-size: 0.8em;
    }
    .contact h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.5em;
      border: 1px solid #555;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 20px;
      height: 75px;
      color: #fff;
      font-weight: 500;
      line-height: 40px;
      padding-left: 50px;
      text-align: center;
    }

    .navbar-contactus{
      font-family: 'Open Sans', sans-serif;
      font-size: 2.5em;
      border: 1px solid #555;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 20px;
      height: 75px;
      color: #fff;
      font-weight: 500;
      line-height: 40px;
      padding-left: 50px;
      text-align: center;
    }

  
  #contactform {
    height: 215px;

  }
    #contactform.right {
      float: right;
    }
    #contactform input {
      margin-bottom: 14px;
      width: 100%;
      outline: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
      padding-left: 15px;
      height: 44px;
      border-radius: 0;
    }
    #contactform textarea {
      margin-bottom: 14px;
      width: 100%;
      outline: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
      padding: 15px;
      height: 218px;
      border-radius: 0;
    }
    #contactform .btn {
      width: 100%;
      height: 50px;
      border-radius: 0;
      border: 1px solid #333;
      color: #fff;
    }
      #contactform .btn:hover {
        background: lighten;
      }




.recipe,
.pizza-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  background-color: white;
}

.pizza-box {
	flex: 3 1 30ch;
	height: calc(282px + 5vw);
	overflow: hidden;
}
	.pizza-box img {
		max-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		object-fit: cover;
		object-position: 50% 50%;
	}


.recipe {
	border: 2px solid #F2F2F2;
	border-radius: 8px;
	overflow: hidden;
}
	.recipe-content {
		padding: 16px 32px;
		flex: 4 1 40ch;
	}
	
	.recipe-tags {
    font-size: 25px;
    color: orange;
    margin-bottom: 30px;
	}

	.recipe-tag {
		display: inline-block;
		margin: 8px;
		font-size: .875em;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .02em;
		color: var(--primary);
	}
	
	.recipe-title {
		margin-bottom: 5px;
		font-size: clamp(1.4em, 2.1vw, 2.1em);
		font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  }
		.recipe-title a {
      font-family: 'Pacifico', cursive;
			text-decoration: none;
			color: inherit;
		}
	
	
  .recipe-metadata {
		margin: 0;
	}
	
	.recipe-rating {
    color: orange;
    margin-bottom: 10px;
		font-size: 1.2em;
		letter-spacing: 0.05em;
  }
		.recipe-rating span {
			color: var(--grey);
		}

  .recipe-votes {
		font-size: .825em;
		font-style: italic;
		color: var(--lightgrey);
	}
	
	.recipe-save {
    color: orange;
    margin-top: 50px;
		display: flex;
		align-items: center;
		padding: 6px 14px 6px 12px;
		border-radius: 4px;
		border: 2px solid currentColor;
		background: none;
		cursor: pointer;
		font-weight: bold;
  }
		.recipe-save svg {
			margin-right: 6px;
		}



.registrate article {
  background: linear-gradient(
    to right, 
    rgb(65, 40, 61), 
    rgb(8, 8, 8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: system-ui;
}

.registrate article h1 {
  font-size: 5vmin;
  line-height: 1.1;
}




.about-section {
  background:url("https://i2-prod.devonlive.com/incoming/article2670174.ece/ALTERNATES/s615/0_GettyImages-873169784.jpg") no-repeat left;;
  background-size:55%;

  background-color: transparent;;
  overflow:hidden;
  padding:100px 0;
  
}

.inner-container {
  width:55%;
  float:right;
  background:white;
  padding:150px;
}




.inner-container h1 {
  margin-bottom:30px;
  font-size:30px;
  font-weight:900;
}

.inner-container .text {
  font-size:13px;
  color:#545454;
  line-height:30px;
  text-align:justify;
  margin-bottom:40px;
}


.inner-container .skills {
  display: flex;
  justify-content: space-around;
  font-weight:700;
  font-size:13px;
  color:black;

}


 @media screen and (max-width:1200px){
   
   .inner-container {
     padding:80px;
   }
   
}



 @media screen and (max-width:1000px){
   
   .about-section {
     background-size:100%;
     padding:100px  40px;
   }
   
   .inner-container {
     width:100%;
   }
   
}


 @media screen and (max-width:600px){
   
   .about-section {
     padding:0;
   }
   
   .inner-container {
     padding:60px;
   }
   
   
}



