{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="container">
  <div class="about-section">
    <div class="inner-container">
      <h1>Nosotros</h1>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="skills">
        <span> Flanes</span>
        <span> Tortas</span>
        <span> Dulces</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}