{% extends 'base.html' %}

{% block 'content' %}
<div class="container">
    <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
        <div class="text-center">
            <img src="https://1.bp.blogspot.com/-uTs27O576uo/W-sIVmbs_kI/AAAAAAAAAAY/xAvtPjh_020VWQhc2bMhdb3HlnyLeGd9ACLcBGAs/s1600/Homer-Simpson-cheer%2B%25281%2529.gif" width="50%" alt="">
        </div>
        <h3 class="text-center">
            Gracias por contactarte con OnlyFlans, te responderemos en breve.
        </h3>
        <div class="text-center">
            <a href="{% url 'indice' %}" class="btn btn-primary">
                Volver al inicio
            </a>
        </div>
    </div>
</div>
{% endblock %}